In [4]:
import pandas as pd


df = pd.read_csv('Data/master_combined_data.csv')

In [5]:
# List of positions
positions = df['Pos'].unique()

# Iterate over each position group
for pos in positions:
    # Filter the data for the current position
    pos_data = df[df['Pos'] == pos].copy()

    # Calculate the mean for selected columns
    mean_values = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].mean()

    # Impute missing values with mean values in the copy
    pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']] = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].fillna(mean_values)

    # Merge imputed data back into the original dataset
    df.update(pos_data)

df

,Player,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player-additional,...,Rush_Attempts,Rush_Yards,Rush_TDs,Receptions,Receiving_Yards,Receiving_Touchdowns,Solo_Tackles,Interceptions,Sack,-9999
0,Johnathan Abram,5-11,205.0,4.450000,36.361111,18.333333,116.000000,6.883571,4.174375,AbraJo01,...,0.0,0.0,0.0,0.0,0.0,0.0,167.0,3.0,NaN,AbraJo01
1,Nasir Adderley,6-0,206.0,4.492105,36.361111,18.333333,124.567568,6.883571,4.174375,AddeNa00,...,0.0,0.0,0.0,0.0,0.0,0.0,168.0,3.0,0.5,AddeNa00
2,Dakota Allen,6-1,232.0,4.770000,31.500000,23.000000,116.000000,6.880000,4.040000,AlleDa01,...,0.0,0.0,0.0,0.0,0.0,0.0,19.0,NaN,NaN,AlleDa01
3,Josh Allen,6-5,262.0,4.630000,35.519737,28.000000,118.000000,7.150000,4.230000,AlleJo03,...,0.0,0.0,0.0,0.0,0.0,0.0,119.0,1.0,27.5,AlleJo03
4,Zach Allen,6-4,281.0,5.000000,32.000000,24.000000,112.000000,7.340000,4.360000,AlleZa01,...,0.0,0.0,0.0,0.0,0.0,0.0,79.0,1.0,11.5,AlleZa01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,Alex Wright,6-5,271.0,4.749412,33.703704,15.000000,118.000000,7.172632,4.376000,WrigAl01,...,0.0,0.0,0.0,0.0,0.0,0.0,13.0,NaN,NaN,WrigAl01
837,Devonte Wyatt,6-3,304.0,4.770000,29.000000,26.878788,111.000000,7.799630,4.710625,WyatDe00,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,NaN,1.5,WyatDe00
838,Cade York,6-1,206.0,NaN,NaN,12.000000,NaN,NaN,NaN,YorkCa00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,YorkCa00
839,Nick Zakelj,6-6,316.0,5.130000,28.500000,27.000000,110.000000,7.750000,4.710000,ZakeNi00,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,ZakeNi00
840,Bailey Zappe,6-1,215.0,4.880000,30.000000,NaN,109.000000,7.190000,4.400000,ZappBa00,...,10.0,0.0,0.0,1.0,-6.0,0.0,NaN,NaN,NaN,ZappBa00

In [6]:
df.to_csv('Data/imputed_combined_data.csv', index=False)